:root {
  background-color: lightgreen;
}

h1 {
  text-align: center;
  font-family: cursive;
}

#header {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

#contact-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  cursor: pointer;
}

.info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h2{
  text-align: center;
  font-family: monospace;
}
